
.nav-link{
	color: rgba(255,255,255,0.9)!important;
}
.justify-content-end{
	margin-left: 350px;
    margin-right: -250px;
}
body {
	font-size: 11px;
	background-color: 
}

.container1{
	width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    position: relative;
    margin-top: 25px;
    color: grey;
}

hr{
	background-color: black;
	width: 1100px;
}


.card-img-top{
	height: 150px;
	margin-right: -1px;
	margin-left: -1px;
}

.footer{
	font-size: 15px;
	float: left;
	margin-top: 10px;
}

.footerIcon {
	float: right;
	width: 30px;
}
