body{
	height: 100%;
    margin: 0;
    font-family: National2, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    position: relative;
}
}

.container {
	width: 863px;
	position: center;
}

#logo
{
	float: left;
	margin-left: 20px;
	margin-top: -27px;
}

#signIn {
	float: right;
	margin-right: -170px;
    margin-top: 20px;
    padding: 7px;
    background-color: white;
    font-style: bold;
}

#nav1 ,h4, h6{
	margin-bottom: 147px;
	text-align: center;
	color: grey;
}
.header {
	width: 863px;
    height: 120px;
    margin-left: -34px;
}
h2 {
	margin-bottom: 5px;
}

hr {
	width: 560px;
	color: grey;
	font-size: 5px;
	padding: 1px;
}

label{
	text-align: left;
}

.loginform {
	margin: 10px auto;
    text-align: center;
    margin-bottom: 5px;
}

.radius {
	background-color: #EEEEEE;
	height: 35px;
}

#firstname{
	width: 270px;
}
#lastname{
	width: 270px;
}

#email{
	width: 540px;
}

#remail{
	width: 540px;
}

#password {
	width: 540px;
}

.title{
	background-color: #009933;
	color: white;
	font-style: bold;
	width: 540px;
	margin-top: 10px;
	height: 35px;
}

.footer{
	width: 860px;
	margin: 10px auto;
	margin-top: -10px;
	color: grey;
	margin-bottom: 0px;
}

